<p style="color: green"><%= notice %></p>

<h1>Ingredients</h1>

<%= link_to "New ingredient", new_ingredient_path, class: 'btn btn-primary mb-4' %>
<div id="ingredients" class="row">
  <% @ingredients.each do |ingredient| %>
    <div class="col-md-4 card">
    <div class="card-body">
      <p>
        <%= ingredient.name %>
      </p>
      <div class="row">
        <div class="col-md-4">
          <%= link_to "View", ingredient, class: 'btn btn-outline-primary btn-justify' %>
        </div>
        <div class="col-md-4">
          <%= link_to "Edit", edit_ingredient_path(ingredient.id), class: 'btn btn-outline-secondary' %>
        </div>
        <div class="col-md-4">
          <%= button_to "Destroy", ingredient, method: :delete, class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
