<% 
  @weekdays = %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday]
  @meal_types = %w[Breakfast Lunch Dinner]
%>

<div id="<%= dom_id weekly_plan %>">
  <h1>Plan for <%= weekly_plan.start_date.strftime("%d %B") %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Day</th>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
      </tr>
    </thead>
    <tbody>

      <% (0..6).each do | i | %>
        <tr>
          <td><%= @weekdays[i] %></td>
          <% weekly_plan.meals.select { |x| x.date == i}.each do | meal | %>
            <td><%= link_to meal.recipe.title, recipe_path(meal.recipe.id) %> for <%= meal.people %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Total Required Ingredients</h2>
  <% @combined.each do |ingredient|%>
    <p><%= "#{ingredient.ingredient.name} | #{number_with_precision(ingredient.quantity, precision: 2,  strip_insignificant_zeros: true)} #{ingredient.ingredient.measurement}" %></p>
  <% end %>
</div>
