<p style="color: green"><%= notice %></p>

<h1>Weekly plans</h1>

<div id="weekly_plans">
  <% @weekly_plans.each do |weekly_plan| %>
    <p>
      Plan for <%= weekly_plan.start_date %>
    </p>
    <p>
      <%= link_to "Show Plan", weekly_plan %>
      <%= link_to "Edit Plan", edit_weekly_plan_path(weekly_plan) %>
    </p>
  <% end %>
</div>

<%= link_to "New weekly plan", new_weekly_plan_path %>
